@charset "UTF-8";
/*초기화 작업*/
ol,ul{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/***********HEADER 스타일지정***********/
#header ul li{
  display: inline;
  /* border: 2px solid #000; */
  /* padding: 10px 30px; */
} 
#header ul li a:hover{
  text-decoration: none;
}
#header ul li a{
  /* text-decoration: none; */
  border: 2px solid #0f0;
  padding: 10px 30px;
  background-color: #0f0;
}